.avatar{
background:#F5F5F5;
width:20%;
height:40%;
position:absolute;
}
.avatar_img{
    margin-left:5%;
    margin-top:5%;
}
main{
height:80%;
}
.info{
background:#F5F5F5;
width:60%;
height:40%;
margin-left:23%;
}
.name{
margin-left:1%;
}
.main{
background:#F5F5F5;
width:60%;
height:60%;
margin-left:23%;
margin-top:3%;
}
.add_news{
margin-left:35%;
padding-top:1%;
}
.news{
margin-left:3%;
padding-top:3%;
}
.about{
padding-left:3;
}
.edit_avatar{
text-align:center;
margin-top:5%;
}