{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/friends.css">
<div class="main">
    <div>
        <a href="/friends" class="btn btn-primary">Все друзья</a>
        <a href="/friend_add" class="btn btn-success">Найти друзей</a>
        <a href="/friend_accept" class="btn btn-dark">Заявки в друзья</a>
    </div>
    <br>
    <br>
    <div class="friends">
        {% for user in users%}
        <div class="col-md6">
            <a href="/profile/{{user.username}}"><img src="{{url_for('static', filename='uploaded_images/')}}{{ user.avatar_id }}" width="6%" height="3%" class="avatar_img round"></a>
            <div class="user" style="margin-top:-5%; margin-left:7%;">
                <h3>{{ user.name }}
            {{ user.surname }}</h3>
            </div>
        </div>
        <br>
        <br>
        {% endfor %}
    </div>

</div>
{% endblock %}