{% extends "base.html" %}

{% block content %}
<div>
        <a href="/friends" class="btn btn-primary">Все друзья</a>
        <a href="/friend_add" class="btn btn-success">Найти друзей</a>
        <a href="/friend_accept" class="btn btn-dark">Заявки в друзья</a>
    </div>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-success") }}</p>
    {{message}}
</form>
{% endblock %}

