{% extends "base.html" %}

{% block content %}
<script>
  function filesize(elem){
    document.cookie = `filesize=${elem.files[0].size}`
  }
</script>
<h1>Записи в блоге</h1>
{% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary">Добавить новость</a>
{% endif %}



{% for item in news%}
    <div class="col-md6 block">
        <div style="padding:15px;">
            <div class="user_info">
            <a href="/profile/{{item.user.username}}"> <img src="{{url_for('static', filename='uploaded_images/')}}{{ item.user.avatar_id }}"
                                                                    width="50px" height="50px" class="avatar_img round"></a>
            <h2>{{item.user.name}} {{item.user.surname}}</h2>
        </div>
        <div class="post">
            <div>
            <h3>{{item.title}}</h3>
        </div>
        <div>
            {{item.content}}
        </div>
        <div>
             Дата написания - {{item.created_date}}
        </div> </div>

        </div>

    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-light">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-dark">
            Удалить
        </a>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}

