{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/profile.css">
<h1>Профиль</h1>
<script>
  function filesize(elem){
    document.cookie = `filesize=${elem.files[0].size}`
  }
</script>

<div class="avatar">

    <img src="{{url_for('static', filename='uploaded_images/')}}{{ user.avatar_id }}" width="90%" height="50%" class="avatar_img">
         <div class="edit_avatar">
             <br>
             <br>
             <br><br>

             {% if current_user.is_authenticated and current_user.id == user.id %}
   <a href="/edit_avatar/{{user.username}}" class="btn btn-secondary">Изменить аватар</a>
    {% endif %}

         </div>
</div>
<div class="info">
    <div class="name"><h2>{{user.name}} {{user.surname}}</h2></div>
    <div class="about">
        <h4>Город:&nbsp;&nbsp;&nbsp; {{user.city}}</h4>
        <h5>{{user.about}}</h5>
    </div>
    <div class="edit_info">
        {% if current_user.is_authenticated and current_user.id == user.id %}
        <a href="/edit_info/{{user.username}}" class="btn btn-secondary">Редактировать информацию</a>
        {% endif %}
    </div>


</div>

<div class="friends">
    {% for user in users%}
            <a href="/profile/{{user.username}}"><img src="{{url_for('static', filename='uploaded_images/')}}{{ user.avatar_id }}"
                                                      width="6%" height="3%" class="avatar_img round"></a>

        {% endfor %}
</div>

<div class="main">
    {% if current_user.is_authenticated and current_user.id == user.id %}
    <div class="add_news"><a href="../news" class="btn btn-secondary">Добавить новость</a></div>
    {% endif %}

    <div class="news">{% for item in news%}
        {% if current_user.is_authenticated and user.id == item.user_id%}
        <div class="col-md6 border rounded">
            <h2>{{item.title}}</h2>
            <div>
                {{item.content}}
            </div>
            <div>
                Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
            </div>
        </div>
        {% endif %}
        {% if current_user.is_authenticated and current_user.id == item.user_id and user.id == item.user_id %}
        <div>
            <a href="/news/{{ item.id }}" class="btn btn-light">
                Изменить
            </a>
            <a href="/news_delete/{{ item.id }}" class="btn btn-dark">
                Удалить
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>


</div>

{% endblock %}
